.slider-show {
  margin: 3rem auto;
  .slider-left {
    .carousel-inner {
      height: 100%;
      & img {
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain;
      }
    }

    .carousel-control-next,
    .carousel-control-prev {
      padding: 0 1.5rem;
      i {
        @include font-size(30);
        color: $primary-2;
      }
    }
    .carousel-indicators {
      li {
        background: $gray-3;

        &.active {
          @include active($primary-2, false);
        }
      }
    }
  }

  .slider-right {
    @include border(top, 0.08, solid, $gray-2-border);
    @include border(right, 0.08, solid, $gray-2-border);
    &__services {
      height: 100%;
      .active {
        @include active($primary-2);
        .icon,
        .desc h2,
        .desc p {
          color: $primary-3;
        }
      }
      &-item {
        @include border(bottom, 0.08, solid, $gray-2-border);
        padding: 2rem;
        height: 25%;

        .icon {
          @include font-bold-upper();
          @include font-size(18);
          color: $primary-2;
        }
        .desc {
          h2 {
            @include font-bold-upper();
            @include font-size(14);
          }
          p {
            @include text13-weight(normal);
            margin-top: 1rem;
          }
          margin-left: 1.5rem;
        }
      }
    }
  }

  @include respond(medium) {
    .slider-right {
      &__services {
        height: 100%;
        &-item {
          height: 25%;
          padding: 1rem 2rem;
          p {
            display: none;
          }
        }
      }
    }
  }
}
@include respond(small) {
  .slider-show {
    display: none;
  }
}
