include ../../base/_mixin.pug
include ../../data/_data.pug

.footer__bottom
    .container
        .row
            .col-md-6.col-sm-12
                .footer__bottom-left
                    p
                        | B&#x1EA3;n quy&#x1EC1;n thu&#x1ED9;c v&#x1EC1; 
                        strong Design Team
                        |  Ph&aacute;t tri&#x1EC3;n b&#x1EDF;i 
                        strong Truong Thanh Hai

            .col-md-6.col-sm-12.d-flex
                .footer__bottom-right
                    +headerNavMenu()
                        