.main__detailProduct {
  .detail__product-img {
    img {
      width: 100%;
    }
  }
  .detail__product-content {
    h2 {
      @include font-size(17);
      text-transform: uppercase;
    }
    ul {
      padding: 1rem 0;
      li i {
        color: $orange;
      }
    }
    .title {
      @include text-weight(13, 500);
    }
    .text-span {
      @include font-size(12);
      line-height: 1.5rem;
    }
    .price {
      @include font-size(17);
      text-transform: uppercase;
      color: $red;
    }
    input {
      padding: 0.2rem 0.5rem;
    }
    .detailReview {
      &::before {
        content: "";
        position: absolute;
        @include border(right, 0.08, solid, $gray-2-border);
        top: 0%;
        right: -20%;
        height: 1rem;
      }
    }
    &-buy {
      input {
        width: 7rem !important;
      }
    }
    &-social {
      a {
        padding: 0.5rem;
      }
      .social-tooltip {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        width: 2rem;
        margin-left: 0.2rem;
        padding: 0.1rem;
        background-color: $primary-3;
        border-radius: 0.3rem;
        color: $gray-3;
        position: relative;
        @include border(false, 0.08, solid, $gray-2-border);
        &:after {
          content: "";
          position: absolute;
          left: -0.6rem;
          top: 50%;
          transform: translateY(-50%);
          box-sizing: border-box;
          @include border(top, 0.3, solid, transparent);
          @include border(bottom, 0.3, solid, transparent);
          @include border(left, 0.3, solid, transparent);
          @include border(right, 0.3, solid, $gray-4);
        }
      }
    }
    .fb {
      background-color: $blue-1;
    }
    .tw {
      background-color: $green;
    }
    .gg {
      color: $red;
    }
    .ggPlus {
      background-color: $red;
    }
  }
}
.detailProduct__tabs {
  .nav-tabs {
    @include for-size(md) {
      flex-direction: column;
    }
    li {
      a {
        display: block;
        border: 1px solid $gray-3;
        color: $primary-1;
        padding: 1rem 3rem;
        @include font-size(13);
        &.active {
          @include active($primary-1, $primary-2);
        }
      }
    }
  }
  .tab-content {
    padding: 1rem;
    p {
      @include font-size(13);
    }
  }
}
