-
    var numberCart= 2

- 
    var dataHeaderTopLeft =[
        {
            icon: "fab fa-facebook-f", 
            classActive: "active",
            classBorderNone: "border-none",
           
        },
        {
            icon: "fab fa-google-plus-square",
            classActive: "",
            classBorderNone: "",            
        },
        
        {
            icon: "fab fa-twitter-square",
            classActive: "",
            classBorderNone: "",            
        },
        
        {
            icon: " fab fa-instagram-square",
            classActive: "",
            classBorderNone: "",            
        },
    ]

- 
    var dataHeaderTopRight =[
        {
            text: "ĐĂNG KÝ",
            link: "signup.html",
        },
        {
            text: "ĐĂNG NHẬP",
            link: "login.html"
        },
        
    ]

-
    var dataHeaderBottomOrderLeft=[
        {
            title: "HOTLINE:",
            phone: ""
        }
    ]

-
    var dataHeaderNavMenu=[
        {
            text: "Trang chủ",
            className: "nav__menu-item",
            classActive: "active",
            homepage: "index.html",
        },
        {
            text: "Giới thiệu",
            className: "nav__menu-item",
            classActive: "",
            homepage: "",
        },
        {
            text: "Sản phẩm",
            className: "nav__menu-item",
            classActive: "",
            homepage: "productList.html",
        },
        {
            text: "Tin khuyến mãi",
            className: "nav__menu-item",
            classActive: "",
            homepage: "blog.html",
        }
        ,{
            text: "Dịch vụ",
            className: "nav__menu-item",
            classActive: "",
            homepage: "",
        }
        ,{
            text: "Liên hệ",
            className: "nav__menu-item",
            classActive: "",
            homepage: "",
        }
    ]

- 
    var dataFooterTopList1=[
        {
            text: "Chính sách giao hàng",
            haveicon: false,
        },
        {
            text: "Chính sách đổi sản phẩm",
            haveicon: false,
        },
        {
            text: "Chính sách bảo hành",
            haveicon: false,
        },
        {
            text: "Chính sách trả góp",
            haveicon: false,
        },
        {
            text: "Giới thiệu hàng đổi trả",
            haveicon: false,
        },
        {
            text: "Vận chuyển miễn phí",
            haveicon: false,
        }
    ]

-
     var dataFooterTopList2=[
        {
            text: "Hệ thống cửa hàng",
            haveicon: false,
        },
        {
            text: "Hướng dẫn mua hàng",
            haveicon: false,
        },
        {
            text: "Hướng dẫn thanh toán",
            haveicon: false,
        },
        {
            text: "Tích điểm đổi thưởng",
            haveicon: false,
        },
        {
            text: "Dịch vụ đổi trả",
            haveicon: false,
        },
        {
            text: "Câu hỏi thưởng gặp",
            haveicon: false,
        }
    ]

-
     var dataFooterTopList3=[
        {
            text: "Tin tức mới nhất",
            haveicon: false,
        },
        {
            text: "Tin tức khuyến mãi",
            haveicon: false,
        },
        {
            text: "Tuyển dụng, đãi ngộ",
            haveicon: false,
        },
        {
            text: "Download tài liệu",
            haveicon: false,
        },
        {
            text: "Chương trình đối tác",
            haveicon: false,
        },
        {
            text: "Nhà phát triển ứng dụng",
            haveicon: false,
        }
    ]

-
     var dataFooterTopList4=[
        {
            text: "Facebook",
            icon: "fab fa-facebook-f",
            haveicon: true,
        },
        {
            text: "Twitter",
            icon: "fab fa-twitter",
            haveicon: true,
        },
        {
            text: "Google+",
            icon: "fab fa-google-plus-g",
            haveicon: true,
        },
        {
            text: "Instagram",
            icon: "fab fa-instagram",
            haveicon: true,
        },
        {
            icon: "fab fa-skype",
            text: "Skype",
            haveicon: true,
        },
    ]

-
    var dataFooterMiddlePayment= [
        {
            img: "logo_1.png",
        },
         {
            img: "logo_2.png",
        },
         {
            img: "logo_3.png",
        },
         {
            img: "logo_4.png",
        },
         {
            img: "logo_5.png",
        },
         {
            img: "logo_6.png",
        },
         {
            img: "logo_7.png",
        },
         {
            img: "logo_8.png",
        }
    ]

-
    var dataFooterAdvfeed=[
        {
            icon: "fas fa-phone-alt",
            text: "Tư vấn miễn phí (24/7)",
            phone: "1900 650 650",

        },
        {
            icon: "fas fa-comments",
            text: "Góp ý - phản hồi - thắc mắc",
            phone: "1900 650 650",

        }
    ]

-
    var slideShowImg=[
        {
            img: "sliders/SLIDER 1.png",
            alt: 'Los Angeles', 
            width: '1100',
            height: '500',
            active: "active",
        },
        {
            img: "sliders/SLIDER 1.png",
            alt: 'Los Angeles', 
            width: '1100',
            height: '500',
            active: "",
        },
        {
            img: "sliders/SLIDER 1.png",
            alt: 'Los Angeles', 
            width: '1100',
            height: '500',
            active: "",
        }
    ]

-
    var slideShowServices=[
        {
            icon: "fas fa-sync",
            title: "Miễn phí vận chuyển",
            text: "Chúng tôi miễn phí vận chuyển với các đơn hàng trị giá trên 1.000.000đ",
            active: "",
        },

        {
            icon: "fas fa-paper-plane",
            title: "Chính sách đổi trả",
            text: "Nếu phát hiện lỗi của nhà sản xuất, chúng tôi sẽ đổi mới sản phẩm trong 7 ngày đầu tiên",
            active: "active",
        },

        {
            icon: "fas fa-gift",
            title: "Khuyến mãi hàng tuần",
            text: "Mỗi thứ 7 hàng tuần đều có chương trình khuyến mãi và giảm giá cực lớn",
            active: "",
        },

        {
            icon: "fas fa-thumbs-up",
            title: "Cam kết hàng chính hãng",
            text: "Chúng thôi cam kết hàng chính hãng 100% với tất cả các loại sản phẩm",
            active: "",
        },
    ]

-
    var dataListProductCategoriesVertical=[
        {
            text: "Máy khoan, cắt CNN",
            active: "active",
            icon: "fas fa-th-large",
        },
        {
            text: "Máy in, phun khổ lớn",
            active: "",
            icon: "fas fa-th-large",
        },
        {
            text: "Máy qúet Canon 3DD",
            active: "",
            icon: "fas fa-th-large",
        },
        {
            text: "Máy khoan decameta",
            active: "",
            icon: "fas fa-th-large",
        },
        {
            text: "Máy phay đa năng CNC",
            active: "",
            icon: "fas fa-th-large",
        },
        {
            text: "Máy maì, tiện DC 12V",
            active: "",
            icon: "fas fa-th-large",
        },
        {
            text: "Máy khoan, cắt CNC",
            active: "",
            icon: "fas fa-th-large",
        },
        {
            text: "Quay thông minh N3",
            active: "",
            icon: "fas fa-th-large",
        },
        {
            text: "Moto RC34 đa dụng",
            active: "",
            icon: "fas fa-th-large",
        },
        {
            text: "Máy in laser màu 3D",
            active: "",
            icon: "fas fa-th-large",
        }
    ]

-
    var bannerImg=[
        {
            img: "1.png",
        },
        {
            img: "2.png",
        }
    ]

-
    var bannerServices= ["1.png", "2.png", "3.png", "4.png", "5.png"]

- 
    var tableCartTitle= ["STT", "Mã sản phẩm", "Sản phẩm", "Thông tin", "Đơn giá", "Số lượng", "Xóa"]

-
    var tableCartProductData= [
        {
            id: 1,
            productImg: "1.png",
            name: "Máy khoan, cắt đa năng CNC",
            price: "2350000",
            qty: "1",
            total: "235000",
            iconDel: "fas fa-minus"
        },
         {
            id: 2,
            productImg: "1.png",
            name: "Máy khoan, cắt đa năng CNC",
            price: "2500000",
            qty: "1",
            total: "2500000",
            iconDel: "fas fa-minus"
        }
    ]

- 
    var products =[
        { img: "./assets/images/products/1.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 3 },
        { img: "./assets/images/products/2.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 1.5 },
        { img: "./assets/images/products/3.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 4 },
        { img: "./assets/images/products/4.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 2 },
        { img: "./assets/images/products/5.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 2.5 },
        { img: "./assets/images/products/6.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 5 },
        { img: "./assets/images/products/7.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 3.5 },
        { img: "./assets/images/products/8.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 3.5 },
        { img: "./assets/images/products/9.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 3.5 },
        { img: "./assets/images/products/10.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 3.5 },
        { img: "./assets/images/products/11.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 3.5 },
        { img: "./assets/images/products/12.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 3.5 },
    ]

-
    var newProducts =[
        { img: "./assets/images/products/11.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 3 },
        { img: "./assets/images/products/12.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 1.5 },
        { img: "./assets/images/products/13.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 4 },
        { img: "./assets/images/products/4.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 2 },
        { img: "./assets/images/products/5.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 2.5 },
        { img: "./assets/images/products/6.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 5 },
        { img: "./assets/images/products/7.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 3.5 },
        { img: "./assets/images/products/8.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 3.5 },
        { img: "./assets/images/products/9.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 3.5 },
        { img: "./assets/images/products/3.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 3.5 },
        { img: "./assets/images/products/2.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 3.5 },
        { img: "./assets/images/products/1.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 3.5 },
    ]
-
    var sellingProduct = [
        { img: "./assets/images/products/12.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 3 },
        { img: "./assets/images/products/12.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 1.5 },
        { img: "./assets/images/products/10.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 4 },
        { img: "./assets/images/products/4.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 2 },
        { img: "./assets/images/products/5.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 2.5 },
        { img: "./assets/images/products/6.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 5 },
        { img: "./assets/images/products/7.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 3.5 },
        { img: "./assets/images/products/8.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 3.5 },
        { img: "./assets/images/products/9.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 3.5 },
        { img: "./assets/images/products/3.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12, stars: 3.5 },
    ]
- 
    var newProduct2 =[
        { img: "./assets/images/products/12.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12,content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt",stars: 3 },
        { img: "./assets/images/products/12.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12,content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt",stars: 1.5 },
        { img: "./assets/images/products/10.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12,content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt",stars: 4 },
        { img: "./assets/images/products/4.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12,content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt",stars: 2 },
        { img: "./assets/images/products/5.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12,content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt",stars: 2.5 },
        { img: "./assets/images/products/6.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12,content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt",stars: 5 },
        { img: "./assets/images/products/7.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12,content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt",stars: 3.5 },
        { img: "./assets/images/products/8.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12,content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt",stars: 3.5 },
        { img: "./assets/images/products/9.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12,content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt",stars: 3.5 },
        { img: "./assets/images/products/3.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12,content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt",stars: 3.5 },
        { img: "./assets/images/products/9.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12,content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt",stars: 3.5 },
        { img: "./assets/images/products/3.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12,content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt",stars: 3.5 },
        { img: "./assets/images/products/7.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12,content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt",stars: 3.5 },
        { img: "./assets/images/products/8.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12,content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt",stars: 3.5 },
        { img: "./assets/images/products/9.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12,content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt",stars: 3.5 },
        { img: "./assets/images/products/3.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12,content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt",stars: 3.5 },
        { img: "./assets/images/products/9.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12,content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt",stars: 3.5 },
        { img: "./assets/images/products/3.png", name: "Máy khoan Black Decker", gia: "1.550.000", danhGia: 12,content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt",stars: 3.5 }
  ]

- var listFilter =["Máy in khổ lớn", "Máy quét Canon 3D", "Máy hàn điện Alumia", "Máy khoan Decameta", "Máy phay đa năng CNC", "Máy mài, tiện DC 12v", "Máy khoan, cắt CNC", "Máy quay thông minh N3", "Motor R34C thông dụng", "Máy in lazer 3D"]

- 
  var softPrice = ["0 - 200.000 Đ (45)", "200.000 Đ - 500.000 Đ (32)", "500.000 Đ - 1000.000 Đ (27)", "1000.000 Đ - 2000.000 Đ (16", "Trên 2000.000 Đ (9) "]

-
  var listNews = ['Đời sống pháp luật (5)', 'Kinh tế trong nước (8)', 'Sức khoẻ gia đình (9)', 'Công nghệ thông tin', 'Tin tức khác (12)']

-
  var newsImg = 
  [
    './assets/images/blog-image/1.png',
    './assets/images/blog-image/2.png',
    './assets/images/blog-image/3.png',
    './assets/images/blog-image/4.png',
    './assets/images/blog-image/5.png',
    './assets/images/blog-image/6.png',
  ]

-
  var newsTag = ['thời trang','máy khoan','news','công nghiệp','xây dựng','phay','máy cắt','hoá chất']

-
  var partners =[
    './assets/images/logo-1/1.png',
    './assets/images/logo-1/2.png',
    './assets/images/logo-1/3.png',
    './assets/images/logo-1/4.png',
    './assets/images/logo-1/5.png',
  ]
  
-
    var detailProduct =[
    { 
        img: "./assets/images/products/2_1.png",
        name: "Máy khoan CNC 3D", 
        price: "2.350.000", 
        review: 12, 
        stars: 3,
        info: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercition ullamco laboris nisi ut aliquip ex ea commodo consequat",
        size: ["One", "Two", "Three"],
        color: ["One", "Two", "Three"]
        },
    ]

-
  var newsDiscount =[
    {
      img: "./assets/images/article/1.png",
      title: "THẾ HỆ MÁY KHOAN CẮT CNC ĐẦU TIÊN ĐÃ ĐƯỢC TÁI SỬ DỤNG",
      date: "Thứ năm, ngày 23/10/2015 8:00 AM",
      author: "Design Team",
      comment: 12,
      content: "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure..."
    },
    {
      img: "./assets/images/article/2.png",
      title: "THẾ HỆ MÁY KHOAN CẮT CNC ĐẦU TIÊN ĐÃ ĐƯỢC TÁI SỬ DỤNG",
      date: "Thứ năm, ngày 23/10/2015 8:00 AM",
      author: "Design Team",
      comment: 12,
      content: "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure..."
    },
    {
      img: "./assets/images/article/3.png",
      title: "THẾ HỆ MÁY KHOAN CẮT CNC ĐẦU TIÊN ĐÃ ĐƯỢC TÁI SỬ DỤNG",
      date: "Thứ năm, ngày 23/10/2015 8:00 AM",
      author: "Design Team",
      comment: 12,
      content: "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure..."
    },
    {
      img: "./assets/images/article/4.png",
      title: "THẾ HỆ MÁY KHOAN CẮT CNC ĐẦU TIÊN ĐÃ ĐƯỢC TÁI SỬ DỤNG",
      date: "Thứ năm, ngày 23/10/2015 8:00 AM",
      author: "Design Team",
      comment: 12,
      content: "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure..."
    }
  ]

- var socials = ['fab fa-facebook-f', 'fab fa-google-plus-g', 'fab fa-instagram', 'fab fa-twitter']

-
  var comments =
  [
    {
      img: "./assets/images/person.png",
      name: "Peterson",
      date: "Thứ năm, ngày 23/10/2015 8:00 AM",
      content: "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo."
    }    
  ]
