extend blog.pug
block variables
    - var titleHTMl = 'Chi tiết bài viết'
block contentNews
    article.col-lg-9.blogDetails__content
        +news(newsDiscount[0])
        .px-5.pb-5
            img.px-2(src="./assets/images/article/2.png", alt="article")
        p.pb-3.text-span But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
        p.text-span "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."
        .px-5.pb-3
            img.py-3.px-2(src="./assets/images/article/5.png", alt="article")
        p.pb-3.text-span But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
        p.text-span "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."
        .blogDetails__content-bot.border-bottom.d-flex.py-4.justify-content-between.align-items-center
            .tag-socials-wrapper
                span.text-tag TAG:                 
                span.text-span máy khoan, máy cắt CNC, máy in 3D, công nghiệp, hàn xí, uốn thép,. . .
            .blogDetails__content-bot-socials.d-flex.align-items-center
                span.text-span.h6.m-0 Chia sẻ: 
                ul.d-flex
                    each social in socials
                        li.p-1
                            a.text-span.text-hover.border.p-2(href="#")
                                i(class=social)
        .blog__comments
            span Bình luận:
            .blog__comments-inner
                +comment(comments[0])
                .blog__comments-inner-reply.pl-5.py-5.ml-5
                    +comment(comments[0])
            .blog__comments-inner.border-bottom.pb-5
                +comment(comments[0])
            form(action="#").form-comment.pb-5
                .form-row
                    .form-group.col.md-6
                        
                    .form-group.col-md-6
                        
                .form-row
                    .col-md-12.form-group
                        label(for="inputComment") Bình luận:
                        textarea.rounded-0.form-control#inputCommnet(rows="3")
                button(type="button").btn.btn-warning.rounded-0.text-center.text-white.py-1 GỬI BÌNH LUẬN