@import "../base/variables";
@import "../base/mixins";

.footer {
  background: $gray-1;
  .footer__top {
    padding: 3rem 0;
    @include border(bottom, 0.1, solid, $gray-2-border);
    .wrapper {
      @include text13-weight(600);
      line-height: 2.2rem;

      .para {
        margin: 2rem 0;
      }

      .about {
        @include display(flex, baseline);
        p {
          margin-left: 1rem;
        }
      }
    }

    .wrapper-list {
      line-height: 3rem;
      padding-top: 1rem;
      a {
        @include display(block);
        color: $gray-6;
        &:hover {
          color: $gray-5;
        }
      }

      &-item {
        @include display(flex, center);
        i {
          margin-right: 1.5rem;
        }
      }
    }
    .title {
      h2 {
        @include title-h2-w-mx(true);
      }
      i {
        @include font-size(12, true);
      }
    }
  }

  .footer__middle {
    @include font-bold-upper();
    color: $gray-6;
    text-transform: none;
    padding: 1rem 0 2rem;

    h2 {
      padding: 1rem 0;
    }

    &-left {
      .payment-list {
        &-item {
          @include flex-direction(13.5rem, 5.5rem);
        }
      }
    }

    &-right {
      .advisory-feedback-item {
        width: 27rem;
        height: 9rem;
        @include display(flex, center);

        .icon {
          width: 5rem;
          height: 5rem;
          @include display(flex, center, false, center);
          font-size: 1.8rem;
          color: $primary-2;
          padding: 1rem;
          border-radius: 50%;
          margin-right: 1rem;
          border: 1px solid;
        }

        .feedback-wrap {
          strong {
            @include font-size(14);
            line-height: 2rem;
            color: $red;
          }
        }
      }
    }
  }

  .footer__bottom {
    background: $primary-1;
    @include font-size(13);

    a,
    p {
      @include text13-weight(600);
      padding: 2.5rem 0;
    }

    &-left {
      p {
        strong {
          color: $primary-3;
        }
      }
    }

    &-right {
      @include display(flex, false, center, space-between);
      width: 100%;
    }
  }
}
